@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-family: "Quicksand", sans-serif;
}
.navbar{
    width: 100%;
    height: 65px;
    position: fixed;
    text-align: center;
    line-height: 65px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; 
}
.logo-and-free{
    float: left;
    width: auto;
    height: 65px;
    display: flex;
    flex-direction: row;
}
.logo{
    float: left;
    width: 33%;
    padding: 10px;
    padding-bottom: 0;
}
.img-logo{
    height: 49px;
}
.img-logo:hover{
    background: rgb(29 , 29, 29);
    border-radius: 10px;
}
.free{
    width: 67%;
    font-size: 2rem;
}
.free a{
    text-decoration: none;
    color: rgb(4, 229, 245);
}
.free a:hover{
    color: rgb(247, 13, 5);
}
.main-list{
    float: right;
}
.main-list ul{
    width: 100%;
    display: flex;
    list-style: none;
    padding-right: 10px;
    margin: 0;
    padding: 0;
}
.main-list ul li{
    padding-right: 10px;
}
.main-list ul li a{
    color: rgb(247, 13, 5);
    text-decoration: none;
    padding-right: 20px;
    font-size: 2rem;
}
.main-list ul li a:hover{
    color: rgb(4, 229, 245);
}
.scroll-effect {
    padding: 0;
    background-color: rgb(29, 29, 29);
}
.top-background{
    width: 100%;
    height: 83vh;
    background-image: url(images/Background.jpg);
    background-position: top center;
    background-size: cover;
}
.mid-container{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
}
.mid-left-container, .mid-right-container, .mid-center-container{
    height: inherit;
    width: 33.33%;
}
.mid-center-container{
    background-image: url(images/mid-center.jpg);
}
.mid-left-container{
    background-image: url(images/mid-left.jpg);
}
.mid-right-container{
    background-image: url(images/mid-right.jpg);
}
.mid-image-overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}
.mid-image-overlay:hover {
    opacity: 1;
}
.mid-title{
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 50px;
    text-align: center;
}
.mid-description{
    font-size: 1.25em;
    margin-top: 0.25em;
    text-align: center;
}

.footer{
    width: 100%;
    height: 220px;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
}
.footer-far-left{
    height: inherit;
    width: 25%;
    background-color: antiquewhite;
}
.footer-mid-left{
    height: inherit;
    width: 25%;
    background-color: rgb(255, 145, 0);
}
.footer-mid-right{
    height: inherit;
    width: 25%;
    background-color: rgb(56, 32, 0);
}
.footer-far-right{
    height: inherit;
    width: 25%;
    background-color: rgb(255, 145, 0);
}
#first-link{
    padding-left: 20px;
}