@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-family: "Quicksand", sans-serif;
    background-color: antiquewhite;
}
.navbar{
    width: 100%;
    height: 65px;
    position: fixed;
    text-align: center;
    line-height: 65px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; 
}
.logo-and-free{
    float: left;
    width: 400px;
    height: 65px;
    display: flex;
    flex-direction: row;
}
.logo{
    float: left;
    width: 33%;
    padding: 10px;
    padding-bottom: 0;
}
.img-logo{
    height: 49px;
}
.img-logo:hover{
    background: rgb(29, 29, 29);
    border-radius: 10px;
}
.free{
    width: 67%;
    font-size: 2rem;
}
.free button{
    text-decoration: none;
    color: rgb(4, 229, 245);
    text-shadow: 1px 1px 1px rgb(4, 229, 245);
    margin: 0;
    font-size: 2rem;
    background-color: inherit;
    border: none;
}
.free button:hover{
    color: rgb(247, 13, 5);
    text-shadow: 1px 1px 1px rgb(247, 13, 5)
}
.main-list{
    float: right;
}
.main-list ul{
    width: 100%;
    display: flex;
    list-style: none;
    padding-right: 10px;
    margin: 0;
    padding: 0;
}
.main-list ul li{
    padding-right: 10px;
}
.main-list ul li a{
    color: rgb(247, 13, 5);
    text-decoration: none;
    padding-right: 20px;
    font-size: 2rem;
}
.main-list ul li a:hover{
    color: rgb(4, 229, 245);
}
.scroll-effect {
    padding: 0;
    background-color: rgb(29, 29, 29);
}
.top-background{
    width: 100%;
    height: 83vh;
    background-image: url(images/background.jpg);
    background-position: top center;
    background-size: cover;
}
.mid-container{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
}
.mid-left-container, .mid-right-container, .mid-center-container{
    height: inherit;
    width: 33.33%;
}
.mid-center-container{
    background-image: url(images/mid-center.jpg);
}
.mid-left-container{
    background-image: url(images/mid-left.jpg);
}
.mid-right-container{
    background-image: url(images/mid-right.jpg);
}
.mid-image-overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}
.mid-image-overlay:hover {
    opacity: 1;
}
.mid-title{
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 50px;
    text-align: center;
}
.mid-description{
    font-size: 1.25em;
    margin-top: 0.25em;
    text-align: center;
}
.footer{
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
}
.footer-far-left, .footer-mid-left, .footer-mid-right, .footer-far-right{
    height: inherit;
    width: 25%;
}
.qm-footer-container{
    padding-top: 10px;
}
.qm-footer{
    text-align: center;
    font-size: 29pt;
}
.qm-footer a{
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    color: rgb(29, 29, 29);
}
.qm-footer a:hover{
    text-shadow: 1px 1px 1px rgb(29, 29, 29);
}
.careers-btn-container{
    text-align: center;
}
.careers-btn{
    border: 0;
    background-color: antiquewhite;
    border-radius: 5px;
    font-style: inherit;
    font-size: inherit;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
}
.careers-btn:hover{
    background-color: rgb(29, 29, 29);
    color: antiquewhite;
}
.careers-btn-container a{
    font-size: 13pt;
    color: rgb(29, 29, 29);
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
}
.footer-navigation-container ul{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 35px;
}
.footer-navigation-container ul li{
    padding-top: 13px;
}
.footer-navigation-container ul li a{
    text-decoration: none;
    font-size: 13pt;
    color: rgb(29, 29, 29);
}
.footer-navigation-container ul li a:hover{
    text-shadow: 1px 1px 2px rgb(29, 29, 29);
}
.footer-contact-container{
    text-align: center;
    color: rgb(29, 29, 29);
    padding-top: 35px;
}
.footer-address, .footer-email, .footer-phone{
    padding-top: 20px;
}
.fa {
	font-size: 17pt;
	color: rgb(29, 29, 29);
}
.footer-follow-container{
    text-align: center;
    color: rgb(29, 29, 29);
}
.footer-icon-container{
    display: flex;
    justify-content: center;
}
.footer-icon-container a{
    text-decoration: none;
}
.footer-follow-container p{
    font-size: 2rem;
}
.footer-follow-container img{
    height: 40px;
}
.footer-ig, .footer-fb{
padding: 20px;
}
.footer-ig:hover{
    background-color: rgb(247, 119, 55);
    border-radius: 4px;
}
.footer-fb:hover{
    background-color: rgb(0, 119, 181);
	border-radius: 4px;
}
#first-link{
    padding-left: 20px;
}
.calc-main{
    width: 100%;
    min-height: 100vh;
}
/* Obrisi */
.gallery-top{
    width: 100%;
    font-size: 29pt;
    border-bottom: 2px solid rgb(247, 13, 5);
    color: rgb(29, 29, 29);
    padding-top: 115px;
    padding-bottom: 20px;
    text-indent: 30px;
}
.gallery-top p{
    margin: 0;
}
.gallery-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 3%;
    box-sizing: border-box;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.gallery img{
    width: 100%;
}
.contact-main{
    padding-top: 115px;
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: row;
}
.contact-left, .contact-mid, .contact-right{
    width: 33.33%;
}
.contact-left{
    text-align: left;
}
.contact-left-container{
    padding: 50px;
    margin-top: 30%;
}
.contact-left p{
    font-size: 29pt;
    margin: 0;
    margin-bottom: 1.5em;
}
.contact-left table{
    text-align: left;
    font-size: 17pt;
}
.contact-left tr td:first-child{
    padding-right: 30px;
}
.contact-left tr td{
    padding-top: 30px;
}
.contact-mid{
    text-align: center;
}
.contact-mid p{
    font-size: 29pt;
    padding: 50px;
}
.contact-mid iframe{
    border-radius: 10px;
    width: 100%;
}
.contact-right-container{
    width: 80%;
    margin: 30% auto;
    padding: 50px;
    background-color: antiquewhite;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row, .input-group{
    flex-basis: 45%;
    font-weight: bold;
}
.contact-right-container input{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(247, 13, 5);
    outline: none;
    padding-bottom: 5px;
    background-color: antiquewhite;
}
.contact-right-container textarea{
    width: 100%;
    border: 1px solid rgb(247, 13, 5);
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    background-color: antiquewhite;
}
.contact-right-container label{
    font-weight: bold;
    margin-bottom: 6px;
    display: block;
}
.contact-right-container button{
    background-color: rgb(4, 229, 245);
    width: 100px;
    border: none;
    outline: none;
    color: black;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
}
.contact-right-container button:hover{
    box-shadow: 0px 5px 15px 0px rgba(247, 13, 5, 0.3);
}
.contact-box p{
    font-size: 29pt;
    margin-top: 0;
}
#careers-container {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: left;
}
.careers-content {
    background-color: antiquewhite;
    margin: auto;
    padding: 10px 20px;
    border: 1px solid rgb(247, 13, 5);
    border-radius: 10px;
    width: 25%;
}
.careers-close {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.careers-content p {
    font-size: 29pt;
    font-weight: 400;
    margin: 30px 0px;
}
.careers-close:hover {
    color: rgb(247, 13, 5);
    text-decoration: none;
    cursor: pointer;
}
.careers-content label {
    text-align: left;
    font-weight: bold;
}
.careers-content input{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(247, 13, 5);
    outline: none;
    background-color: antiquewhite;
    margin: 10px 0px;
}
.careers-content input[type="submit"]{
    background-color: rgb(4, 229, 245);
    width: 100px;
    border: none;
    outline: none;
    color: black;
    height: 35px;
    border-radius: 30px;
    cursor: pointer;
    margin: 20px 0px;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
}
.careers-content input[type="submit"]:hover{
    box-shadow: 0px 5px 15px 0px rgba(247, 13, 5, 0.3);
}
#personal-info-label{
    font-size: 17pt;
    line-height: 50px;
}
#free-container {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: left;
    font-size: 12pt;
}
.free-content {
    background-color: antiquewhite;
    margin: auto;
    padding: 10px 20px;
    border: 1px solid rgb(247, 13, 5);
    border-radius: 10px;
    width: 25%;
}
.free-close {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.free-content p {
    font-size: 29pt;
    font-weight: 400;
    margin: 30px 0px;
}
.free-content form{
    line-height: normal;
}
.free-close:hover {
    color: rgb(247, 13, 5);
    text-decoration: none;
    cursor: pointer;
}
.free-content label {
    font-weight: bold;
}
.free-content input{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(247, 13, 5);
    outline: none;
    background-color: antiquewhite;
    margin: 10px 0px;
}
.free-content input[type="submit"]{
    background-color: rgb(4, 229, 245);
    width: 100px;
    border: none;
    outline: none;
    color: black;
    height: 35px;
    border-radius: 30px;
    cursor: pointer;
    margin: 20px 0px;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
}
.free-content input[type="submit"]:hover{
    box-shadow: 0px 5px 15px 0px rgba(247, 13, 5, 0.3);
}
#personal-info-label{
    font-size: 17pt;
    line-height: 50px;
}
#free-btn{
    border: none;
    cursor: pointer;
}
.free-content select{
background-color: antiquewhite;
padding: 5px;
border: 1px solid rgb(247, 13, 5);
border-radius: 5px;
width: 150px;
font-size: 12pt;
}
#level, #type-where, #type-how{
    line-height: 40px;
}